body {
  margin: 0;
  padding: 0;
}

.we {
  &-title {
    font-size: 16px;
    font-weight: bold;
    color: var(--color-text, #393939);
  }

  &-btn-group {
    display: flex;
    gap: var(--size-cell-gap, 16px);
  }

  // 布局
  &-layout {
    background: var(--color-bg, #f5f5f5);
    height: 100vh;
    font-family: 黑体;
  }

  &-layout-header {
    background-image: var(--image-bg-layout-header);
    // TODO: 添加变量 --bg-layout-header 复合属性
    background-size: 100% 100%;
    padding-inline: var(--size-cell-gap, 16px);
    padding-block: var(--size-cell-gap, 16px);
    border-bottom: 1px solid var(--color-border, #d9d9d9);
  }

  &-layout-body {
    background-image: var(--image-bg-layout-body);
    padding-inline: var(--size-cell-gap, 16px);
    padding-block: var(--size-cell-gap, 16px);
    box-sizing: border-box;
    display: flex;
    gap: var(--size-cell-gap, 16px);
    transition: 0.2s ease-in-out;
  }

  &-layout-side-content {
    position: fixed;
    top: 80px;
    bottom: var(--size-cell-gap, 16px);
    left: -100%;
    z-index: 99;
    transition: 0.2s ease-in-out;

    .ant-tabs {
      height: 100%;
    }

    .ant-tabs-nav {
      border-right: 1px solid var(--color-border, #d9d9d9);

      .ant-tabs-nav-add {
        margin-top: 2px;
        border-radius: var(--size-border-radius, 6px) 0 0
          var(--size-border-radius, 6px);
      }

      .ant-tabs-tab {
        flex-direction: column;
        justify-content: center;
        padding: var(--size-cell-gap-sm, 8px) 0 !important;
      }

      .ant-tabs-tab-btn {
        writing-mode: tb;
        letter-spacing: 3px;
      }

      .ant-tabs-tab-remove {
        margin-top: var(--size-cell-gap-sm, 8px);
        margin-left: 0;
      }
    }

    .ant-tabs-content-holder {
      display: none;
    }
  }

  &-layout-editor-content {
    flex: 1;
  }

  &-layout-view-content {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: var(--size-cell-gap, 16px);
    height: calc(100vh - 97px);
    overflow: auto;
  }

  &-layout-open-side &-layout-body {
    padding-left: 72px;
  }

  &-layout-open-side &-layout-side-content {
    left: var(--size-cell-gap, 16px);
  }

  // 首部栏
  &-head-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-head-main {
    display: flex;
    align-items: center;
    gap: var(--size-cell-gap, 16px);
  }

  &-head-extra {
    display: flex;
    align-items: center;
    gap: var(--size-cell-gap, 16px);
  }

  &-head-title &-title {
    margin-right: var(--size-cell-gap, 16px);
    font-size: 24px;
    color: var(--color-primary, #3b82f6);
  }

  // 编辑器
  &-theme-editor {
    &-content {
      display: flex;
      flex-direction: column;
      flex: 1;
      // gap: var(--size-cell-gap-sm, 8px);

      .ant-tabs-nav {
        margin-bottom: 0;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 8px;
      height: calc(100vh - 167px);
      padding-top: var(--size-cell-gap-sm, 8px);
      padding-right: var(--size-cell-gap-sm, 8px);
      box-sizing: border-box;
      overflow: auto;
    }
  }

  // 主题配置项
  &-theme-rule {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: var(--color-bg-component, #ffffff);
    padding: 8px;
    border-radius: var(--size-border-radius, 6px);
    font-size: 14px;

    &-remove {
      background-color: var(--color-bg-component-disabled, #e2e2e2);
    }

    &-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: var(--size-cell-gap, 16px);
    }

    &-label {
      font-size: 16px;
      font-weight: bold;
      color: var(--color-text, #393939);
    }

    &-name {
      color: var(--color-text-desc, #a9a9a9);
      // opacity: 0;
      // transition: 0.2s;
    }

    &-value {
      width: 360px;
    }

    &-extra {
      color: var(--color-text-secondary, #535353);
    }

    &-item {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &-input {
      flex: 1;
    }

    &-view {
      width: 150px;
    }

    // &:hover &-name {
    //   opacity: 1;
    // }
  }

  &-theme-view-body {
    position: relative;
    margin-top: var(--size-cell-gap, 16px);
    padding: var(--size-cell-gap, 16px);
    background: var(--color-bg-component, #ffffff);
  }

  &-theme-view-type {
    position: absolute;
    top: -16px;
    left: 50%;
    transform: translateX(-50%);
  }

  &-importer {
    display: flex;
    flex-direction: column;
    gap: var(--size-cell-gap, 16px);
  }
}
