body .css-var-r0 {
  --ant-color-primary: var(--color-primary);
  --ant-color-primary-hover: var(--color-primary-hover);
  --ant-color-bg-container: var(--color-bg-secondary);
  --ant-color-bg-elevated: var(--color-bg-popover);
  --ant-color-border: var(--color-border);
  --ant-input-hover-border-color: var(--color-primary);
  --ant-color-border-secondary: var(--color-border-secondary);
  --ant-color-link: var(--color-primary);
  --ant-color-link-hover: var(--color-primary);
  --ant-color-text: var(--color-text);
  --ant-color-text-heading: var(--color-text-disabled);
  --ant-color-text-description: var(--color-text-desc);
  --ant-color-text-placeholder: var(--color-text-desc);
  --ant-color-text-disabled: var(--color-text-disabled);
  --ant-color-text-quaternary: var(--color-text-desc);
  --ant-color-text-tertiary: var(--color-text-disabled);
  --ant-color-icon: var(--color-text-desc);
  --ant-color-icon-hover: var(--color-text);
  --ant-color-split: var(--color-border-secondary);
}

/* modal */
body .css-var-r0.ant-modal-css-var {
  --ant-modal-header-bg: var(--color-bg-component);
  --ant-modal-content-bg: var(--color-bg-component);
  --ant-modal-title-color: var(--color-text);
}

/* card */
body .css-var-r0.ant-card {
  --ant-card-actions-bg: var(--color-bg);
}

/* table */
body .css-var-r0.ant-table {
  --ant-table-header-bg: var(--color-bg);
  --ant-table-header-color: var(--color-text);
  --ant-table-header-split-color: var(--color-border);
  --ant-table-row-hover-bg: var(--color-bg-component-hover);
  --ant-table-border-color: var(--color-border-secondary);
  --ant-table-footer-bg: var(--color-bg);
  --ant-table-expand-icon-bg: var(--color-bg);
}

body .css-var-r0.ant-breadcrumb {
  --ant-breadcrumb-item-color: var(--color-text);
  --ant-breadcrumb-last-item-color: var(--color-text);
  --ant-breadcrumb-link-color: var(--color-text);
  --ant-breadcrumb-separator-color: var(--color-text-desc);
}

body .css-var-r0.ant-tabs-css-var {
  --ant-tabs-item-color: var(--color-text);
  --ant-tabs-item-selected-color: var(--color-primary);
  --ant-tabs-ink-bar-color: var(--color-primary);
  --ant-tabs-item-hover-color: var(--color-primary);
  --ant-tabs-item-active-color: var(--color-primary);
}

body .css-var-r0.ant-picker-calendar {
  --ant-calendar-full-bg: var(--color-bg-component);
  --ant-calendar-full-panel-bg: var(--color-bg-component);
}

body .css-var-r0.ant-select-css-var {
  --ant-select-selector-bg: var(--color-bg);
  --ant-select-option-selected-bg: var(--color-bg-component-active);
  --ant-select-option-selected-color: var(--color-text);
}

body .css-var-r0.ant-radio-css-var {
  --ant-radio-button-bg: var(--color-bg-component);
  --ant-radio-button-checked-bg: var(--color-bg-component);
  --ant-radio-button-color: var(--color-text);
}

body .css-var-r0.ant-form-css-var {
  --ant-form-label-color: var(--color-text);
}

/* input */
body .css-var-r0.ant-input-css-var {
  --ant-input-active-bg: var(--color-bg-component);
  --ant-input-hover-bg: var(--color-bg-component-hover);
  --ant-input-hover-border-color: var(--color-border-hover);
  --ant-input-active-border-color: var(--color-border-active);
}

body .css-var-r0.ant-btn {
  --ant-button-default-bg: var(--color-bg-component);
  --ant-button-default-hover-bg: var(--color-bg-component-hover);
  --ant-button-default-active-bg: var(--color-bg-component-hover);
  --ant-button-default-border-color: var(--color-border);
  --ant-button-border-color-disabled: var(--color-border);
  --ant-button-default-hover-border-color: var(--color-primary-hover);
  --ant-button-default-hover-color: var(--color-primary-hover);
  --ant-button-default-color: var(--color-text);
  --ant-color-primary-active: var(--color-primary-active);
  --ant-button-default-active-border-color: var(--color-primary-active);
  --ant-button-default-active-color: var(--color-primary-active);
}

body .css-var-r0.ant-pagination {
  --ant-pagination-item-bg: var(--color-bg-component);
  --ant-pagination-item-active-bg: var(--color-bg-component);
  --ant-pagination-hover-bg: var(--color-bg-component-hover);
  --ant-pagination-active-bg: var(--color-bg-component-hover);
}

body .css-var-r0.ant-switch {
  --ant-switch-handle-bg: var(--color-bg-component-hover);
}

body .css-var-r0.ant-segmented {
  --ant-segmented-track-bg: var(--color-bg-secondary);
  --ant-segmented-item-selected-bg: var(--color-bg-component);
  --ant-segmented-item-color: var(--color-text);
  --ant-segmented-item-selected-color: var(--color-text);
  --ant-segmented-item-hover-color: var(--color-text-hover);
}

/** select */
.ant-select-dropdown {
  backdrop-filter: blur(8px);
}
